<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= data.page.title || "Cloud Foundry Docs" %></title>
    
    <%= stylesheet_link_tag "style" %>
    <%= javascript_include_tag  "all" %>
    <!--[if lt IE 9]>
    <style>
        body  {background-color:#85bfe4;background-image:none;}
    </style>
    <![endif]-->
  </head>
  
  <body class="<%= page_classes %>">
    <a href="http://github.com/cloudfoundry/cf-docs" id="github">
      <img alt="Fork me on GitHub" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png">
    </a>
    <div id="main">
      <div id="logo">
        <a href="http://www.cloudfoundry.com">
          <img src="/images/logo_cloudfoundry.png" height="57">
        </a>
      </div>
      <div id="container">
         <a href="/">
           <h1>Cloud Foundry Documentation</h1>
         </a>
         <br>
         <div id="bg-content">
          <% unless current_page.url == "/" %>
            <div class="breadcrumbs">
              <ul>
                <li>
                  <a href="/">Home</a>
                </li>
                <%= trail_nav %>
              </ul>
            </div>
            <br>
          <!-- don't forget to pull this from the index page as well -->  
          <table><tr><td style="font-size:9pt">
          <b>We are in a time of transition:</b>
          <li>You are reading V2 documentation. The V1 docs are available <a href="http://cf-docs-deprecated.cloudfoundry.com">here</a>. Cloudfoundry.com will be upgraded to V2 in early May. <li>You can browse <b>http://api.{cloudfoundry url}/info</b> to check a Cloud Foundry version.<li>The <b>CF</b> command-line is for Cloud Foundry V2. Use <b>VMC</b> for Cloud Foundry V1.
          </td></tr></table>

            <h2><%= current_page.data.title %></h2>

          <% end %>

          <%= quick_links %>

          <%= yield %>
         </div>
       </div>
    </div>
    <div id="footer">
      <p>
      Copyright &#169;
      <script>
        var d = new Date();
        document.write(d.getFullYear());
      </script>
      VMware, Inc. All rights reserved.
      </p>
    </div>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22181585-27']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
